*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container__menu{
    display: grid;
    grid-template-columns: 0.45fr repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.2fr) repeat(2, 4fr) 0.2fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas:"nav     nav     nav     nav     nav"
                        "header  header  header  header  header"
                        "aside   main    main    main    main"
                        "aside   main    main    main    main"
                        "footer  footer  footer  footer  footer";
}

body{
    font-size:62.5%;
    background-color: #1C0A00;
    color:#CC9544;
    width: 100%;
    height: 100%;
}

body main div{
    background-color: #361500;
    width: 20%;
    padding: 1rem;
    margin: 1rem;
    border: 0.5rem solid #603601;
    border-radius: 15%;
}

body main div img{
    align-content: center;
}
body main form fieldset div div label{
    padding: 0.5rem;
} 
.cuestionario{
    background-color:#361500;
    padding: 1rem;
    margin: 1rem 12rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.cuestionario__body{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.cuestionario__part{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.5rem;
    margin: 0.3rem;
    padding: 1.5rem;
}
.cuestionario__completar{
    display: flex;
    width: 30rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.cuestionario__btn{
    width: auto;
    color: #000;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: baseline;
}

.btn__cuestionario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav {
    background-color:#361500 ;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: stretch;
    position: sticky;
    top: 0px;
    grid-area: nav;
    align-self: baseline;
}

.logo{
    margin-left: 5%;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav li{
    color: black;
    background-color: #8d6830;
    margin: 0.5rem;
    padding: 1rem 3rem;
    margin-bottom: 0px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
}

.active{
    color: black;
    background-color: #e0a44a;
    margin: 0.5rem;
    padding: 1.2rem 3rem;
    margin-bottom: 0px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
}

.letras__nav{
    color: #1C0A00;
    font-size: 1rem;
    text-decoration: none;
}

.gato-portada{
    background-image: url(/assets/imagenes/MainGato2.jpg);
    background-color: #1C0A00;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 46rem;
    display: flex;
    justify-content: center;
}

.cont-img-portada{
    width: 70%;
    border: none;
    margin-top: 5rem;
    background-color: rgba(127, 255, 212, 0);
}

.imag-portada{
    max-width: 100%;
    height: auto;
}

header{
    background-color: #1C0A00;
    grid-area: header;
    margin: 0rem 5rem;
}

header p{
    font-size: 1.2rem;
    margin: 0.3rem;
    text-align: justify;
}

header h1{
    text-align: center;
    font-style: normal;
    font-size: 2rem;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 0rem;
    text-decoration-line: underline;
}

.bodygatitos{
    background-image: url(/assets/imagenes/gato-wallpaper-1.jpeg) ;
    padding: 1%;
}

main{
    grid-area: main;
    background-color: #603601;
    width: 100%;
    height: 100%;
}

.title__main {
    text-align: center;
    font-style: normal;
    font-size: 4rem;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-weight: 0rem;
    text-decoration-line: underline;
}

.texto{
    font-size: 1.5rem;
    margin: 0.3rem;
    text-align: justify;
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 21rem;
    height: 30rem;
}

.tarjeta__titulo{
    font-size: 2rem;
    margin: 0.2rem;
}
.tarjeta__texto{
    font-size: 1rem;
    margin: 0.3rem;
    text-align: justify;
}

.tarjeta__diasyhora{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
}

.tarjeta__foto{
    width: 17rem;
    height: 17rem;
    border-radius: 2rem;
    object-fit:contain;
    margin-top: 1rem;
    overflow: hidden;
}

.btn{
    background-color: #CC9544;
    font-size: 1rem;
    width:auto;
    margin: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid #000 ;
}

.btn__format{
    display: flex;
}

aside{
    grid-area: aside;
    background-color: #361500;
}

footer{
    background-color: #361500;
    color: #CC9544;
    padding: 0.5rem;
    text-align: right;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
.img_redes{
    width: 2rem;
    margin: 0rem 0.3rem;
}

@media(max-width:1024px){
    nav li{
        margin: 0.3rem;
        padding: 1.1rem 2rem;
    }
    
    .active{
        margin: 0.3rem;
        padding: 1.1rem 2rem;
    }

    .gato-portada{
        height: auto;
    }
    .cont-img-portada{
        width: auto;
    }
    .imag-portada{
        max-width: 100%;
    }

    .cuestionario{
        margin: 1rem 2rem;
        width: 40rem;
    }
    .cuestionario__body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media(max-width:768px){
    nav li{
        margin: 0.2rem;
        padding: 0.5rem 0.7rem;
    }
    
    .active{
        margin: 0.2rem;
        padding: 0.5rem 0.7rem;
        margin-bottom: 0px;
    }
    .img-logo-nav{
        height: 2.3rem;
    }

    .cuestionario{
        margin: 1rem 2rem;
        width: 25rem;
    }
    .cuestionario__completar{
        width: 20rem;
        justify-content: center;
    }

}
@media(max-width:480px){

    nav li{
        margin: 0.1rem;
        padding: 0.3rem 0.1rem;
    }
    .img-logo-nav{
        height: 2.1rem;
    }

    .cuestionario{
        margin:3rem;
        width: 18rem;
    }
    .cuestionario__completar{
        width: 13rem;
        justify-content: center;
    }
}
