
body{
    font-size:62.5%;
    background-color: #1C0A00;
    color:map-get($colores, color1 );
    width: 100%;
    height: 100%;
    main{
        grid-area: main;
        background-color: map-get($colores, color2 );
        width: 100%;
        height: 100%;
        p {
            font-size: 1.2rem;
            margin: 0.3rem;
            text-align: justify;
        }
        form{
            fieldset{
                div{
                    div{
                        label{
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
        div:not(.carrusel){
            background-color: map-get($colores, color3 );
            @include margpad (1rem , 0rem);
            border: 0.5rem solid #603601;
            border-radius: 5%;
            img {
                align-content: center;
            }
        }
    }
}

aside{
    grid-area: aside;
    background-color: map-get($colores, color3 );
    form{
        label{
            h2{
                font-size: 2rem;
                margin: 0.5rem;
            }
            select {   
                background-color: map-get($colores, color1 );
                font-size: 1rem;
                width:auto;
                margin: 0.5rem;
                padding: 0.3rem 0.5rem;
                border-radius: 1rem;
                border: 0.2rem solid #000 ;
                option{ 
                    border-radius: 1rem;
                }
            }
        }
    }
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 21rem;
        height: 30rem;
        &:hover{
            -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        }
        h2{
            font-size: 1.4rem;
        }
        p{
            font-size:0.8rem;
        }
        img{
            width: 18rem;
            height: 18rem;
            object-fit:contain;
            margin-top: 1rem;
            overflow: hidden;
            border-radius: 1rem;
        }
    }


.disflex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.tarjeta__diasyhora{
    p {
        font-size: 1.2rem;
        @include margpad (0.5, 0.5);

    }
    h2{
        font-size: 2rem;
    }
    ul{
        li{
            font-size: 1.5rem;
        }
    }
}
