footer{
    background-color: #361500;
    color: #CC9544;
    text-align: right;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
}