
footer{
    background-color: map-get($colores, color3 );
    color: map-get($colores, color1 );
    text-align: right;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    div{
        p{
            font-size: 0.8rem;
        }
    }
    a{
        img{
        width: 2rem;
        margin: 0rem 0.3rem;
        }
    }
}