header{
    background-color: map-get($colores, $color4 );
    margin: 0rem;
    grid-area: header;
    h1{
        text-align: center;
        font-style: normal;
        font-size: 2rem;
        font-family: 'Tiro Devanagari Marathi', serif;
        font-weight: 0rem;
        text-decoration-line: underline;
    }
    p {
        font-size: 1.2rem;
        margin: 0.3rem;
        text-align: justify;
    }
}
